:root {
    --G1: #40985E;
    --G2: #1A644E;
    --G3: #04373B;
    --G4: #0A1A2F;
    --P1: #D1CB95;
  }

body{
    background-color: var(--G4);
}
.Level-user {
    position: fixed;
    top: 20%;
    right: 10px;
    color: #000;
    z-index: 1010;
    animation: userLV 1s ease-in-out;
}
@keyframes userLV {
    0%{left: -200px;}
}

.Level-sub {
    width: 50px;
    height: 50px;
    background-color: var(--G2);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 18px;
    font-weight: 800; 
    margin-bottom: 20px;
    box-shadow: 0 0 5px #0A1A2F;
    cursor: pointer;
}


.Level-sub.pass {
    width: 50px;
    height: 50px;
    background-color: var(--P1);
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 18px;
    font-weight: 800; 
    margin-bottom: 20px;
    box-shadow: 0 0 5px var(--P1);
    color: #000;
}

.reset {
    position: fixed;
    bottom: 5px;
    right: 10px;
    color: #000;
    background-color: var(--P1);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
    opacity: 0.3;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1010;
}
.reset:hover {
    opacity: 1;
}


.BtnNextpage{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    z-index: 1010;
}
.BtnNextpagesub{
    color: var(--P1);
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 10px #00000080;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--P1);
}

.BtnNextpagesub:hover{
    box-shadow: 0 0 10px var(--P1);
    background-color: var(--P1);
    color: #000;
    scale: 1.2;
}

.Page{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--P1);
    width: 40px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    z-index: 1010;
}
.Page p{
    margin: 10px 15px ;
}


.animation-Next-page {
    animation: next 1s ease-in-out;
}
@keyframes next {
    0%{
        opacity: 0;
    }
}


.Music{
    position: fixed;
    right: 10px;
    bottom: 60px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    border: 2px solid var(--P1);
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.4s ease-in-out;
}
.Music:hover{
    opacity: 1;
    box-shadow: 0 0 15px var(--P1);
}
