body{
    margin: 0;
}
:root {
    --G1: #40985E;
    --G2: #1A644E;
    --G3: #04373B;
    --G4: #0A1A2F;
    --P1: #D1CB95;
    --F1: "Lucida Console", "Courier New", monospace;
  }
.full-bg{
    background-color: var(--G4);
    padding: 500px 0;
}   
.bg{
    background-color: var(--G4);
    padding: 10% 0;
}
.box {
    background-color: #0a1a2f;
    color: #40985e    ;
    width: 60%;
    padding: 0px;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}




.hidden_wall{
    color: #0d213c;
    text-align: center;
}
.str{
    font-family: var(--F1);
    color: #d1cb95;
}


/* enText style*/
.enText_style{
    color: #ffcc00;
}


/*  Normal btn   */
.btn_bg{
    background-color: #0a1a2f;
    width: 60%;
    padding: 0px;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    
}
.btn{
    background-color: #1a644e;
    margin: 10px;
    
}
.input-text-sub{
    color: black;
    font-family: var(--F1);
}
.btn_text{
    color: #d1cb95;
    font-family: var(--F1);
}


/*  Submit btn   */
.btn_submit{
    background-color: rgb(183, 30, 30);
    margin: 10px;
 
    cursor: pointer;
}

.btn_text_submit{
    color: white;
    font-family: var(--F1);
}
/* Skip Level btn */
.btn_skip{
    background-color: rgb(30, 183, 76);
    margin: 10px;
    
}

.btn_text_skip{
    
    color: white;
    font-family: var(--F1);
}