body{
    margin: 0;
}
:root {
    --G1: #40985E;
    --G2: #1A644E;
    --G3: #04373B;
    --G4: #0A1A2F;
    --P1: #D1CB95;
  }
.bg{
    background-color: var(--G4);
    padding: 10% 0;
}
.box {
    background-color: #0a1a2f;
    color: #40985e    ;
    width: 60%;
    padding: 0px;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.hidden_wall{
    color: #0a1a2f;
}
.str{
    color: #d1cb95;
}
.btn_bg{
    background-color: #0a1a2f;
    width: 60%;
    padding: 0px;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
}
.btn{
    background-color: #1a644e;
    color: #d1cb95;
}

